node_modules
**/node_modules

.next
**/.next
out
**/out

.git
.gitignore
.github

.env
.env.*
!.env.example

**/src/generated

*.log
npm-debug.log*

.vscode
.idea
.DS_Store

README.md
DESIGN-elevenlabs.md
